<div class="header">
  <div class="header_logo_section">
      <img src="/assets/img/logo_hogwarts.png" alt="logo">
  </div>
  <div class="nav_section">

      <div class="nav_Houses_section">
          <a href="/houses"><p>HOUSES</p></a>
      </div>
      <div class="nav_Elixir_section">
        <a href="/elixirs"><p>ELIXIRS</p></a>
      </div>
      <div class="nav_Spells_section">
          <a href="/spells"><p>SPELLS</p></a>
      </div>
      <div class="nav_Wizards_section">
          <a href="/wizards"><p>WIZARDS</p></a>
      </div>
      <div class="nav_Login_section">
          <a href="/login"><p>LOGIN</p></a>
      </div>
  </div>
</div>
